body {
    background-color: black;
}

.space {
    background-image: url("space.png");
    width: 1000px;
    height: 800px;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.planet-area {
    position: absolute;
    bottom: 0;
    left: 0;
}

.planet {
    position: relative;
    width: 500px;
    bottom: -10px;
    right: 10px;
    z-index: 3;
}

.rocket {
    width: 150px;
    position: relative;
    right: 300px;
    bottom: 270px;
    transform: rotate(25deg);
    z-index: 2;
}

.control-panel__inner {
    position: absolute;
    right:120px;
    bottom: 200px;
    height: 25%;
    width: 30%;
    padding: 15px;
    background: linear-gradient(#d3d3d3, #2d3436);
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

[value="Launch"] {
    margin: auto;
    appearance: none;
    -webkit-appearance: none;
    font-family: sans-serif;
    cursor: pointer;
    padding: 4px;
    min-width: 100px;
    border: 0px;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
    background: #f65f51;
    color: #ffffff;
    border-radius: 10px;
}
[value="Launch"]:hover {
    background: #c0392b;
    color: #ffffff;
}

.control-panel__inner .first,
.control-panel__inner .second {
    /*margin-block: 5px;*/
    margin-bottom: 5px;
    margin-right: 5px;
}

.control-panel__inner [class="check-buttons"] {
    width: 300px;
    display: flex;
    justify-content: space-around;
}

.levers {
    height: 100px;
    display: flex;
}

[type="range"] {
    width: 70px;
    transform: rotate(270deg)
}

.second{
    border: 1px solid grey;
    border-radius: 10px;
    background: linear-gradient(#ffffff, #ffffff);
}


[type="password"] {
    background-color: #fcfdff;
    background-image: linear-gradient(315deg, #eeeeee 0%, #dce8ef 74%);

}
.control-panel{
    background: linear-gradient(#d3d3d3, #2d3436);
}

[type="checkbox"] {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

[type="checkbox"]:checked {
    background: grey;
}

.control-panel__inner {
    border: 8px solid;
    border-image: repeating-linear-gradient(45deg, #ffe741, #146b43 10px, #000000 10px, #10722c 20px) 20;
}